<div class="container padding">
<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="form-group">
      <form action="/answer" method="get">
        <input type="text" name="query" placeholder="question">
        <input type="submit" value="Go on!" class="btn btn-primary">
      </form>

  </div>

  </div>

</div>

</div>
